/* reset selector */
* {
	margin: 0;
	padding: 0;
}
/* body styling*/
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
	width: 90%;
	background-color: white;
	margin: 10px auto;
	border-style: double;
	border-width: 5px;
	border-color: rebeccapurple;
	padding: 10px;
}
main img {
	float: left;
}
html {
	background-color: aliceblue;
}
footer{
	border-top: 5px solid rebeccapurple;	
}
main h1{
	font-size: 150%;
	color: rebeccapurple;
	margin-bottom: 10px;
}
main h2{
	font-size: 125%;
	clear: right;
	margin: 10px;
}
main h3{
	font-size: 115%;
	margin-bottom: 10px;
}
main p cite{
	color: rebeccapurple;
	font-weight: bold; 
	font-style: normal;
}
footer p{
	font-size: 90%;
	font-weight: bold;
}
main p{
	margin-bottom: 10px;
}
